# Исключение конфигурационных файлов аккаунтов и прокси
accounts/accounts.txt
accounts/proxys.txt

# Игнорирование виртуальной среды Python
venv/

# Лог-файлы и текстовые файлы с информацией об аккаунтах
log.txt
bad_token.txt
locked.txt
suspended.txt
ref_code.txt
problems.txt
actual_ref.txt
private_keys.txt
format.txt
tasks.back
nft_stats.csv
proxy_problem.txt
low_balance.txt
tasks_backup_*
token_deleted.txt
pk_deleted.txt
proxy_deleted.txt
zamena.txt

# Исключение JSON-файлов с задачами
status/token_db/tasks.json

# Игнорирование скомпилированных файлов Python
__pycache__/

# Игнорирование всех .pyc файлов в проекте
*.pyc

# Файл с тестами
test.py

# vscode
.vscode

private_keys_all.txt
accounts_all.txt
addresses_all.txt
tasks*.json
status/